@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;500;700&family=Poppins:wght@200;300;400;500&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@300;400;500&display=swap');


:root {
    font-size: 18px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(229, 23%, 23%);

}

section {
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.card { 
    width: 350px;
    background-color: #FFF;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.card-body {
    margin: 10px;
    padding: 10px;
}

.image-victor img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #FFF;
    margin-top: -100px;
}


.name-age {
    font-size: 18px;
    margin-top: 20px;
}

.age {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    margin-left: 5px;
}

.city { 
    color: hsl(0, 0%, 59%);
    font-size: 15px;
    margin: 10px;
    font-weight: 400;
}

.card-footer { 
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 30px;
    margin: 20px 0px;
    border-top: 1px solid hsl(0, 0%, 75%);
}

.number {
    font-size: 18px;
    margin: 15px 0 5px 0;
    
}

.meta {
    font-size: 14px;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    letter-spacing: 1px;
}

.attribution {
    margin-top: 100px;
}


/* Circles Background*/

.circles .c1,
.circles .c2 {
    position: absolute;
    width: 800px;
    animation: 2s circles forwards;
    opacity: 0;
}

.circles .c1 {
    top: -400px;
    left: -200px;
    transform: translate(-100px, -50px);
}

.circles .c2 {
    bottom: -400px;
    right: -200px;
    opacity: 0.5;
    transform: translate(100px, 50px);
}

@keyframes circles{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}